@import 'flowbite/dist/flowbite.min.css';
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  background-color: #f9fafb; /* gray-50 */
}

html.dark {
  background-color: #020617; /* slate-950 */
}

body {
  min-height: 100%;
  background-color: #f9fafb; /* gray-50 */
}

html.dark body {
  background-color: #020617; /* slate-950 */
}

/* Hide scrollbar for mobile tabs */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}